*, *::after, *::before {
  box-sizing: border-box;
}

script {
	display: none;
}

html, body {
	-ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
	height: 100%;
	width: 100%;
	background-repeat: no-repeat;
	background-size: cover;
}

body {
	height: 100vh;
	margin: 0;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	-webkit-font-smoothing: antialiased;
}

body::before {
  /* never visible - this is used in jQuery to check the current MQ */
  content: 'mobile';
  display: none;
}
@media only screen and (min-width: 1050px) {
  body::before {
    /* never visible - this is used in jQuery to check the current MQ */
    content: 'desktop';
  }
}

a {
  color: #267481;
  text-decoration: none;
}

img {
	width: 100%;
	height: 100%;
}

div {
	overflow-y: hidden;
	overflow-x: hidden;
	margin: auto;
	background-color: rgb( 140, 40, 27 );
	background-position: center center;
	background-repeat: no-repeat;
}

@media only screen and (min-width: 1050px) {
  body[data-hijacking="on"] {
    overflow: hidden;
  }
}

.wrapper {
	height: auto; 
	width: 100%;
	left: 0px;
	background-attachment: fixed;
	background-position: top;
	top: 0px;
	max-width: 100%;
	margin: 0 auto;
}

.wrapper h1 {
	font-family: "Lucida Console";
	color: rgb( 255, 255, 255 );
	font-weight: bolder; 
	font-size: 50px;
	line-height: 0.75em;
	position: absolute;
	text-align: center;
	margin: auto;

}

.circle:after {
	content: "";
	padding-bottom: 100%;
	display: block;
}

.circle {
	width: 200px;
	height: 200px;
	border-radius: 50%;
	border: 10px solid #f8f4f4;
	box-shadow:0 0 3px #f8f4fe;
	position: relative;
}

.circle img {
	width:  100%;
	height: auto;
}

.wrapper1 {
	background-color: rgb( 248, 244, 244 );
	height: 700px;
	width: 100%;
	left: 0px;
	top: 0px;
	max-width: 100%;
	margin: 0 auto;
	margin-top: -9em;
}

.whoIAm {
	width: 100%;
	font-family: "MV Boli"; 
	color: rgb( 0, 102, 102 ); 
	display: inline-block;
	position: absolute;
	font-size: 16px;
	text-align: center;
	vertical-align: inherit;
	position: absolute;
}

.aboutMe {
	width: 100%;
	font-weight: bolder; 
	font-size: 23px;
	color: rgb( 50, 43, 41 );
  	font-family: "Just tell me what";
	vertical-align: inherit;
	text-align: center;
	display: inline-block;
	line-height: 100px;
	position: absolute;
}

.content_A {
	font-family: "Walkway Condensed SemiBold";
	width: 100%;
	text-align: center;
	font-size: 17px; 
	line-height: 30px;
	color: rgb( 50, 43, 41 );
	vertical-align: inherit;
	margin-top: 100px;
	display: inline-block;
	position: absolute;
}

.hobbies {
	width: 100%;
	text-align: center;
	font-family: "Photographs"; 
	color: rgb( 50, 43, 41 ); 
	font-weight: bold; 
	font-size: 23px;
	vertical-align: inherit;
	margin-top: 250px;
	display: inline-block;
	position: absolute;

}

.wrapper2 {
	background-color: rgb( 54, 47, 45 );
	height: 670px;
	width: 100%;
	left: 0px;
	top: 0px;
	max-width: 100%;
}

.quote {
  	background-color: rgb( 83, 71, 65 );
	height: 120px;
	width: 100%;
	left: 0px;
	top: 0px;
	max-width: 100%;
	margin: 0 auto;
	position: relative;
	line-height: 120px;
	text-align: center; 
	font-family: "Courier New";
	color: rgb( 255, 255, 255 );
	font-style: italic;
	font-size: 25px;
}


.wrapper3 {
	background-color: rgb( 241, 229, 223 );
	height: 700px;
	width: 100%;
	left: 0px;
	top: 0px;
	max-width: 100%;
	margin: 0 auto;

	position: relative;
	transform: translateY(-50%);
}

.wrapper4 {
	background-color: rgb( 230, 230, 230 );
	height: 780px;
	width: 100%;
	left: 0px;
	top: 0px;
	max-width: 100%;
	margin: 0 auto;
}

[class*="icon"] {
	background-color: rgb( 83, 71, 65 );
	width: 110px;
	height: 110px;
	border-radius: 50%;
	box-shadow:0 0 5px #534741;
	mix-blend-mode: darken;
	visibility: visible;
	vertical-align: inherit;
	display: inline-block;
	position: static;
	margin-top: 300px;
}

.icon1 {
	margin-left: 80px;
}

.icon2 {
	margin-left: 100px;
}

.icon3 {
	margin-left: 100px;
}

.icon4 {
	margin-left: 100px;
}

.icon5 {
	margin-left: 100px;
}

.icon6 {
	margin-left: 100px;
}

.icon1:hover {
	mix-blend-mode: hard-light;
}

.icon2:hover {
	mix-blend-mode: hard-light;
}

.icon3:hover {
	mix-blend-mode: hard-light;
}

.icon4:hover {
	mix-blend-mode: hard-light;
}

.icon5:hover {
	mix-blend-mode: hard-light;
}

.icon6:hover {
	mix-blend-mode: hard-light;
}



.education {
	font-family: "Palanquin SemiBold";
	width: 100%;
	color: rgb( 255, 255, 255 );
	text-align: center;
	vertical-align: inherit;
	position: relative;
	font-size: 27px;
	margin-left: 260px;
	margin-right: 420px;
	line-height: 80px;
}

.boxCollege {
	background-color: rgb( 255, 255, 255 );
	width: 400px;
	height: 130px;
	border-bottom-right-radius: 10%;
	border-top-left-radius: 10%;
	margin-left: 120px;	
	box-shadow:0 0 10px #534741;
	line-height: 150px;
}

.course {
	color: rgb( 50, 43, 41 );
	font-family: "PT Sans Narrow";
	font-weight: bold;
	font-size: 18px; 
	line-height: 20px;
	text-align: center;
	display: inline-block;
	position: relative;
}

.university {
	color: rgb( 50, 43, 41 );
	font-family: "Palanquin Light";
	font-size: 16px; 
	line-height: 15px;
	text-align: center;
	display: inline-block;
	position: relative;
}

.Cyear {
	color: rgb( 50, 43, 41 );
	font-family: "Jonah_DEMO-Regular";
	font-size: 15px; 
	text-align: center;
	display: inline-block;
}


.boxHighSchool {
	background-color: rgb( 255, 255, 255 );
	width: 400px;
	height: 130px;
	border-bottom-right-radius: 10%;
	border-top-left-radius: 10%;
	margin: 20px;
	margin-left: 120px;
	line-height: 150px;
}

.highschool {
	color: rgb( 50, 43, 41 );
	font-family: "PT Sans Narrow";
	font-weight: bold;
	font-size: 18px; 
	line-height: 20px;
	text-align: center;
	display: inline-block;
	position: relative;
}

.graduates {
	color: rgb( 50, 43, 41 );
	font-family: "Palanquin Light";
	font-size: 16px; 
	line-height: 18px;
	text-align: center;
	display: inline-block;
	position: relative;
}

.Hyear {
	color: rgb( 50, 43, 41 );
	font-family: "Jonah_DEMO-Regular";
	font-size: 15px; 
	text-align: center;
	margin-left: 79px;
	margin-right: 79px;
	display: inline-block;
}

.boxElementary {
	background-color: rgb( 255, 255, 255 );
	width: 400px;
	height: 130px;
	border-bottom-right-radius: 10%;
	border-top-left-radius: 10%;
	margin: 20px;
	margin-left: 120px;
	line-height: 150px;
}

.elementary {
	color: rgb( 50, 43, 41 );
	font-family: "PT Sans Narrow";
	font-weight: bold;
	font-size: 18px; 
	line-height: 20px;
	text-align: center;
	display: inline-block;
	position: relative;
}

.cont {
	color: rgb( 50, 43, 41 );
	font-family: "PT Sans Narrow";
	font-weight: bold;
	font-size: 18px; 
	line-height: 20px;
	text-align: center;
	display: inline-block;
	position: relative;
}

.Eyear {
	color: rgb( 50, 43, 41 );
	font-family: "Jonah_DEMO-Regular";
	font-size: 15px; 
	text-align: center;
	margin-left: 79px;
	margin-right: 79px;
	display: inline-block;
}


.line-center {
	background-color: rgb( 255, 255, 255 );
	width: 9px;
	height: 400px;
	vertical-align: inherit;
	position: relative;
	margin-top: -520px;
}

.sks {
	font-family: "Palanquin SemiBold";
	width: 100%;
	color: rgb( 255, 255, 255 );
	text-align: center;
	vertical-align: inherit;
	position: absolute;
	font-size: 27px;
	margin-top: -470px;
	margin-left: 328px;
}

[class*="skill"] {
	float: right;
	clear: left;
	background-color: rgb( 255, 255, 255 );
	width: 190px;
	height: 190px;
	border-radius: 50%;
	box-shadow:0 0 5px #534741;
	display: inline-block; 
	position: relative;
}

.skill1 {
	margin-top: -410px;
	margin-right: 365px;
}

.skill2 {
	margin-top: -410px;
	margin-right: 120px;
}

.skill3 {
	margin-top: -198px;
	margin-right: 365px;
}

.skill4 {
	margin-top: -198px;
	margin-right: 120px;
}

.skill1:hover {
	mix-blend-mode: hard-light;
}

.skill2:hover {
	mix-blend-mode: hard-light;
}

.skill3:hover {
	mix-blend-mode: hard-light;
}

.skill4:hover {
	mix-blend-mode: hard-light;
}

.myWorks {
	width: 100%;
  	font-family: "PT Sans Narrow";
	font-weight: bolder; 
	font-size: 30px;
	color: rgb( 50, 43, 41 );
	vertical-align: inherit;
	text-align: center;
	display: inline-block;
	line-height: 70px;
	position: absolute;
}

.w1 {
	background-color: rgb( 83, 71, 65 );
	width: 400px;
	height: 250px;
	mix-blend-mode: hue;
	visibility: visible;
	vertical-align: inherit;
	display: inline-block;
	mix-blend-mode: hard-light;
	margin-top: 100px;
	margin-left: 30px;
	position: absolute;
}

.w1:hover {
	box-shadow:0 0 15px #534741;
}

.w2 {
	background-color: rgb( 83, 71, 65 );
	width: 400px;
	height: 250px;
	mix-blend-mode: darken;
	visibility: visible;
	vertical-align: inherit;
	display: inline-block;
	mix-blend-mode: darken;
	margin-top: 100px;
	margin-left: 463px;
	position: absolute;
}

.w2:hover {
	box-shadow:0 0 15px #534741;
}


.w3 {
	background-color: rgb( 83, 71, 65 );
	width: 400px;
	height: 250px;
	mix-blend-mode: darken;
	visibility: visible;
	vertical-align: inherit;
	display: inline-block;
	margin-top: 100px;
	margin-left: 895px;
	position: absolute;
}

.w3:hover {
	box-shadow:0 0 15px #534741;
}

.w4 {
	background-color: rgb( 83, 71, 65 );
	width: 400px;
	height: 250px;
	mix-blend-mode: hard-light;
	visibility: visible;
	vertical-align: inherit;
	display: inline-block;
	margin-top: 380px;
	margin-left: 30px;
	position: absolute;
}

.w4:hover {
	box-shadow:0 0 20px #534741;
}

.w5 {
	background-color: rgb( 83, 71, 65 );
	width: 400px;
	height: 250px;
	mix-blend-mode: darken;
	visibility: visible;
	vertical-align: inherit;
	display: inline-block;
	margin-top: 380px;
	margin-left: 463px;
	position: absolute;
}

.w5:hover {
	box-shadow:0 0 20px #534741;
}

.w6 {
	background-color: rgb( 83, 71, 65 );
	width: 400px;
	height: 250px;
	mix-blend-mode: color-burn;
	visibility: visible;
	vertical-align: inherit;
	display: inline-block;
	margin-top: 380px;
	margin-left: 895px;
	position: absolute;
}

.w6:hover {
	box-shadow:0 0 20px #534741;
}

.q2 {
  	background-color: rgb( 54, 47, 45 );
	height: 150px;
	width: 100%;
	left: 0px;
	top: 0px;
	margin: 0 auto;
	position: relative;
	line-height: 150px;
	text-align: center; 
	font-family: "Book Antiqua";
	color: rgb( 255, 255, 255 );
	font-style: bold;
	font-size: 30px;
}

.contactMe {
	width: 100%;
  	font-family: "PT Sans Narrow";
	font-weight: bolder; 
	font-size: 30px;
	color: rgb( 50, 43, 41 );
	vertical-align: inherit;
	text-align: center;
	display: inline-block;
	line-height: 170px;
	position: absolute;
}

.location {
	background-color: rgb( 230, 230, 230 );
	width: 105px;
	height: 100px;
	left: 0;
	top: 0;
	vertical-align: inherit;
	display: inline-block;
	position: relative;
	margin-top: 150px;
	margin-left: 260px;
	line-height: 100px;
}

.email {
	background-color: rgb( 230, 230, 230 );
	width: 105px;
	height: 100px;
	left: 0;
	top: 0;
	vertical-align: inherit;
	display: inline-block;
	position: relative;
	margin-top: 150px;
	margin-left: 250px;
}

.phone {
	background-color: rgb( 230, 230, 230 );
	width: 105px;
	height: 100px;
	left: 0;
	top: 0;
	vertical-align: inherit;
	display: inline-block;
	position: relative;
	margin-top: 150px;
	margin-left: 250px;
}

.d1 {
	font-family: "PT Sans Narrow"; 
	color: rgb( 50, 43, 41 );
	font-size: 16px;
	vertical-align: inherit;
	text-align: center;
	display: inline-block;
	position: absolute;
	margin-left: -81px;
	margin-top: 280px;
}

.d2 {
	font-family: "PT Sans Narrow"; 
	color: rgb( 50, 43, 41 );
	font-size: 16px;
	vertical-align: inherit;
	text-align: center;
	display: inline-block;
	position: absolute;
	margin-left: -71px;
	margin-top: 280px;
}

.d3 {
	font-family: "PT Sans Narrow"; 
	color: rgb( 50, 43, 41 );
	font-size: 16px;
	vertical-align: inherit;
	text-align: center;
	display: inline-block;
	position: absolute;
	margin-left: -71px;
	margin-top: 280px;
}

.address {
	font-family: "Jonah_DEMO-Regular"; 
	color: rgb( 50, 43, 41 );
	font-size: 16px;
	vertical-align: inherit;
	text-align: center;
	display: inline-block;
	position: absolute;
	margin-left: -122px;
	margin-top: 350px;
	display: none;
}

.mail {
	font-family: "Jonah_DEMO-Regular";  
	color: rgb( 50, 43, 41 );
	font-size: 16px;
	vertical-align: inherit;
	text-align: center;
	display: inline-block;
	position: absolute;
	margin-left: -140px;
	margin-top: 350px;
	display: none;
}

.number {
	font-family: "Jonah_DEMO-Regular";
	color: rgb( 50, 43, 41 );
	font-size: 16px;
	vertical-align: inherit;
	text-align: center;
	display: inline-block;
	position: absolute;
	margin-left: -100px;
	margin-top: 350px;
	display: none;
}

.location:hover {
	mix-blend-mode: color-burn;
}

.location:hover + .address{
	display: inline-block;
}

.email:hover {
	mix-blend-mode: color-burn;
}

.email:hover + .mail{
	display: inline-block;
}

.phone:hover {
	mix-blend-mode: color-burn;
}

.phone:hover + .number{
	display: inline-block;
}

/*copied*/

.cd-section {
  height: 100vh;
}

[data-animation="parallax"] .cd-section > div, [data-animation="fixed"] .cd-section > div, [data-animation="opacity"] .cd-section > div {
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.cd-vertical-nav {
  /* lateral navigation */
  position: fixed;
  z-index: 1;
  right: 3%;
  top: 50%;
  bottom: auto;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: none;
}
.cd-vertical-nav a {
  display: block;
  height: 40px;
  width: 40px;
  /* image replace */
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  background: url(img/cd-icon-arrow.svg) no-repeat center center;
}
.cd-vertical-nav a.cd-prev {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-bottom: 10px;
}
.cd-vertical-nav a.inactive {
  visibility: hidden;
  opacity: 0;
  -webkit-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  -moz-transition: opacity 0.2s 0s, visibility 0s 0.2s;
  transition: opacity 0.2s 0s, visibility 0s 0.2s;
}
@media only screen and (min-width: 1050px) {
  .cd-vertical-nav {
    display: block;
  }
}
